.popup-picture__window {
  position: relative;
  height: auto;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 487px) {
  .popup-picture__window {
    margin-top:136px;
  }
} 
