.popup-avatar__link::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }

  .popup-avatar__link {
    margin-top: 42px;
  }


