.profile__edit-button {
  background-image: url(../../../images/Pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  background-color: black;
  border: 1px snow solid;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 618px) {
  .profile__edit-button {
    margin-left: 10px;
    min-width: 18px;
    height: 18px;
  }
}
