.profile__prof {
  padding-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 295px;
}

@media screen and (max-width: 618px) {
  .profile__prof {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
    text-align: center;
    max-width: 158px;
  }
}
